.list-group-item:hover {
  background-color: #485563;
}

.list-group-item a {
  color: #ebebeb;
}

.list-group-item-fixed:hover {
  background-color: #4e5d6c;
/*  width: 100%;
  position: fixed;
  top: 55%;
  left: 0;
  padding: 10px 15px;
  z-index: 999;*/
}

.navbar {
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

body {
  margin-top: 40px;
  height: 100%;
}

#map-canvas {
  height: 50%;
}